.attribution {
 font-size: 11px;
 text-align: center;   
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* * {
    box-sizing: border-box;
} */
 

body {
    font-family: Overpass, sans-serif;
    background-color:hsl(216, 12%, 8%); 
    font-size: 15px;
    font-weight: 400;
    margin: 2rem;
  
    
}

#star-circle img {
    height: 20px;
    width: 20px;
    border: solid;
    border-color: hsl(213, 19%, 18%) ;
    background-color:hsl(213, 19%, 18%) ;
    border-radius: 50%;
    padding: 10px;

}

#submit-button {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border-radius: 50vh;
    padding: 15px 30px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 1rem;
    cursor: pointer;
}

#submit-button:hover {
 background-color: hsl(0, 0%, 100%);  
 
 color: hsl(25, 97%, 53%); 
}




#number-of-stars {
    display: flex;
   
    justify-content: space-between;
    margin: 2rem 0;
   
}

.select-stars {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    /* outline: 1px green dashed; */
   
   
   
    border: solid;
    border-color: hsl(213, 19%, 18%);
    background-color: hsl(213, 19%, 18%) ;
    
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight:700; 
    cursor: pointer;
    
    

}

.select-stars:hover {
  color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}



p {
    color: hsl(217, 12%, 63%);
}

h1 {
    color:hsl(0, 0%, 100%);
    font-size: 1.75rem;
}

h2 {
    color:hsl(0, 0%, 100%);
    font-size: 1.75rem;
    text-align: center;
}

.card {
    padding: 2rem;
    background: radial-gradient(circle at top, hsla(213, 20%, 18%,1) 10%, hsla(213, 19%, 18%,.2) 100%, hsla(213, 20%, 18%,1) 10%);
    border-radius: 6%;
}

#receipt {
   margin: auto;
   display: block;
    

}
#qty-selected {
    text-align: center;
    border-radius: 50vh;
    padding: 10px 10px;
    background-color: hsl(213, 19%, 18%) ;
    width: 60%;
    margin: auto;
    margin-top: 1.75rem;
   display: block;
   color: hsl(25, 97%, 53%);
   font-weight: 700;
   font-size: 1rem;
}
 #in-touch {
     text-align: center;
 }
footer {
    padding: 2rem;
}
