.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: Overpass, sans-serif;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    font-weight: 400;
    /* margin: 1.5rem; */
    max-width: 375px;

    margin: auto;






}

#star-circle img {
    height: 20px;
    width: 20px;
    border: solid;
    border-color: hsl(213, 19%, 18%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 3px 10px 25px hsl(216, 12%, 8%);

}

#submit-button {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border-radius: 50vh;
    padding: 15px 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: .15em;
    font-size: .75rem;
    cursor: pointer;
    border: 0;
    transition: background-color .3s, color .3s;
}

#submit-button:hover {
    background-color: hsl(0, 0%, 100%);

    color: hsl(25, 97%, 53%);
}




#number-of-stars {
    display: flex;

    justify-content: space-between;
    margin: 1.5rem 0;
    flex-wrap: wrap;

}

.select-stars {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 18px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 10px 25px hsl(216, 12%, 8%);
    border: solid;
    border-color: hsl(213, 19%, 18%);
    background-color: hsl(213, 19%, 18%);

    color: hsl(217, 12%, 63%);

    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;

}

.select-stars:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border-color: hsl(25, 97%, 53%);
}


p {
    color: hsl(217, 12%, 63%);
    line-height: 1.5;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
    margin: 1.5rem 0;
}

h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
    text-align: center;
    margin: 1.5rem 0;
}

.card {
    padding: 1.5rem;
    background: radial-gradient(circle at top, hsla(213, 20%, 18%, 1) 10%, hsla(213, 19%, 18%, .2) 100%, hsla(213, 20%, 18%, 1) 10%);
    border-radius: 6%;
    margin: 1rem;

}

#receipt {
    margin: auto;
    display: block;
}

#qty-selected {
    text-align: center;
    border-radius: 50vh;
    padding: 10px 10px;
    background-color: hsl(213, 19%, 18%);
    width: 60%;
    margin: auto;
    margin-top: 1.75rem;
    display: block;
    color: hsl(25, 97%, 53%);
    font-weight: 400;
    font-size: .75rem;
    box-shadow: 3px 10px 25px hsl(216, 12%, 8%);
}

#in-touch {
    text-align: center;
}

footer {
    padding: 2rem;
}

.active {
    background-color: hsl(217, 12%, 63%);
    border-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}